@model Student
@{
    ViewData["Title"] = "getbyid";
}

<div class="card" style="width: 18rem;">
    <img src="~/images/@Model.image" class="card-img-top" />

    <div class="card-body">
        <h5 class="card-title">@Model.name</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.ssn</li>
        <li class="list-group-item">@Model.address</li>
        <li class="list-group-item">@Model.email</li>
    </ul>
</div>
